<% responseObj.forEach(function(response) { %>
Place name: <%= response.place_name%>
<br>
Distance: <%= response.distance %> mts
<br>
See landmark on map: <a href="<%= response.map %>">Google maps</a>
<br>
<br>
<br>
<% }) %>
