<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to London bike space finder</p>
    <form>
      <button > Find a bike space in 1 km radius </button>
    </form>
  </body>
</html>
