<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to London bike space finder</p>
    <form>
      <a href='/bikeSpace'> Find a bike space in 1.5 km radius </a>
    </form>

</html>
